.Label{
   border-bottom: 3px solid;
   border-color: lightgray;
    text-align: center;
    font-size: 30px;
    
}
.regBtn{
    margin-top: 20px;
    width: 200px;
    height: 40px;
    margin-left: 20px;
    
}
.Name{
    font-size: 23px;
    text-align: center;
    color: red;
}
input{
    margin: 0 auto;
    height: 23px;
    border-radius: 8px;
}

.input-center{
    display: flex;
    flex-direction: column;
}
.btn-center{
    display: flex;
    flex-direction: row;
}
button{
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 8px;
    margin-top: 10px;
    
    
}
.reg{
    color: dimgray;
    
}


.mainDiv{
    background-color: #363636;
    margin: 0 auto;
    border: 3px solid;
    width: 900px;
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    
    
}
.authBtn{
    margin-top: 5%;
    font-size: 22px;
    margin-left: 100px;
    color: red;
}
.regP{
    font-size: 35px;
    color: aliceblue;

}
.descP{
    margin-top: 0px;
    font-size: 20px;
    color: aliceblue;

}


.regDiv{
    width: 400px;
}
.HatSpan{
    display: flex;
    flex-direction: column;
    border-right: 4px solid white;
    width: 57%;
    margin-left: 10px;
    
}
.desc2P{
    margin-top: 120%;
    font-size: 22px;
    color: aliceblue;

}
.descP{
    font-size: 22px;
}
a{
    margin-bottom: 3%;
    margin-top: 3.3%;
}


#link{
    text-transform: none;
    text-decoration: none;
    color:black;
}




    
